<p id="notice"><%= notice %></p>

<h1>Quartos</h1>

<table class="table">
  <thead>
    <tr>
      <th>Num</th>
      <th>Hotel</th>
      <th>Andar</th>
      <th>Tipo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quartos.each do |quarto| %>
      <tr>
        <td><%= quarto.num %></td>
        <td><%= Hotel.find(quarto.hotel_id).nome %></td>
        <td><%= quarto.andar %></td>
        <td><%= quarto.tipo_quarto_id %></td>
        <td><%= link_to 'Show', quarto %></td>
        <td><%= link_to 'Edit', edit_quarto_path(quarto) %></td>
        <td><%= link_to 'Destroy', quarto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quarto', new_quarto_path %>
