<p id="notice"><%= notice %></p>

<p>
  <strong>Num:</strong>
  <%= @quarto.num %>
</p>

<p>
  <strong>Andar:</strong>
  <%= @quarto.andar %>
</p>

<%= link_to 'Edit', edit_quarto_path(@quarto) %> |
<%= link_to 'Back', quartos_path %>
