<%= form_for(estadia) do |f| %>
  <% if estadia.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(estadia.errors.count, "error") %> prohibited this estadias from being saved:</h2>

      <ul>
      <% estadia.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :data_checkin %>
    <%= f.date_select :data_checkin, class: 'form-control'  %>
  </div>

  <div class="field">
    <%= f.label :data_checkout %>
    <%= f.date_select :data_checkout, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :cliente_id %>
    <%= f.text_field :cliente_id, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :quarto_id %>
    <%= f.text_field :quarto_id, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :hotel_id %>
    <%= f.text_field :hotel_id, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
