<p id="notice"><%= notice %></p>

<h1>Estadias</h1>

<table class="table">
  <thead>
    <tr>
      <th>Datacheckin</th>
      <th>Datacheckout</th>
      <th>Cliente</th>
      <th>Quarto</th>
      <th>Hotel</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @estadias.each do |estadia| %>
      <tr>
        <td><%= estadia.dataCheckIn %></td>
        <td><%= estadia.dataCheckOut %></td>
        <td><%= estadia.cliente.id %></td>
        <td><%= estadia.quarto.id %></td>
        <td><%= estadia.hotel.id %></td>
        <td><%= link_to 'Show', estadia %></td>
        <td><%= link_to 'Edit', edit_estadia_path(estadia) %></td>
        <td><%= link_to 'Destroy', estadia, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Estadias', new_estadia_path %>
