<p id="notice"><%= notice %></p>

<p>
  <strong>Datacheckin:</strong>
  <%= @estadia.dataCheckIn %>
</p>

<p>
  <strong>Datacheckout:</strong>
  <%= @estadia.dataCheckOut %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @estadia.cliente.id %>
</p>

<p>
  <strong>Quarto:</strong>
  <%= @estadia.quarto.id %>
</p>

<p>
  <strong>Hotel:</strong>
  <%= @estadia.hotel.id %>
</p>

<%= link_to 'Edit', edit_estadia_path(@estadia) %> |
<%= link_to 'Back', estadias_path %>
