<p id="notice"><%= notice %></p>

<p>
  <strong>Data checkin:</strong>
  <%= @estadia.data_checkin %>
</p>

<p>
  <strong>Data checkout:</strong>
  <%= @estadia.data_checkout %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @estadia.cliente.id %>
</p>

<p>
  <strong>Quarto:</strong>
  <%= @estadia.quarto.id %>
</p>

<p>
  <strong>Hotel:</strong>
  <%= @estadia.hotel.id %>
</p>

<%= link_to 'Edit', edit_estadia_path(@estadia) %> |
<%= link_to 'Back', estadias_path %>
