<%= form_for(reserva) do |f| %>
  <% if reserva.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reserva.errors.count, "error") %> prohibited this reserva from being saved:</h2>

      <ul>
      <% reserva.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :dataReserva %>
    <%= f.date_select :dataReserva, class: 'form-control'  %>
  </div>

  <div class="field">
    <%= f.label :dataCheckIn %>
    <%= f.date_select :dataCheckIn, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :dataCheckOut %>
    <%= f.date_select :dataCheckOut, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :ValorEntrada %>
    <%= f.text_field :ValorEntrada, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :cliente_id %>
    <%= f.text_field :cliente_id, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :quarto_id %>
    <%= f.text_field :quarto_id, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :hotel_id %>
    <%= f.text_field :hotel_id, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
