<p id="notice"><%= notice %></p>

<p>
  <strong>Datareserva:</strong>
  <%= @reserva.data_reserva %>
</p>

<p>
  <strong>Datacheckin:</strong>
  <%= @reserva.data_checkin %>
</p>

<p>
  <strong>Datacheckout:</strong>
  <%= @reserva.data_checkout %>
</p>

<p>
  <strong>Valorentrada:</strong>
  <%= @reserva.valor_entrada %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @reserva.cliente.id %>
</p>

<p>
  <strong>Quarto:</strong>
  <%= @reserva.quarto.id %>
</p>

<p>
  <strong>Hotel:</strong>
  <%= @reserva.hotel.id %>
</p>

<%= link_to 'Edit', edit_reserva_path(@reserva) %> |
<%= link_to 'Back', reservas_path %>
