<%= form_for(tipo_servico) do |f| %>
  <% if tipo_servico.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tipo_servico.errors.count, "error") %> prohibited this tipo_servico from being saved:</h2>

      <ul>
      <% tipo_servico.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %>
    <%= f.text_field :nome %>
  </div>

  <div class="field">
    <%= f.label :custo %>
    <%= f.text_field :custo %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
