<%= form_for(limpeza) do |f| %>
  <% if limpeza.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(limpeza.errors.count, "error") %> prohibited this limpeza from being saved:</h2>

      <ul>
      <% limpeza.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :data %>
    <%= f.date_select :data, class: 'form-control'  %>
  </div>

  <div class="field">
    <%= f.label :hora %>
    <%= f.time_select :hora, class: 'form-control'  %>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary'  %>
  </div>
<% end %>
