<p id="notice"><%= notice %></p>

<h1>Empregados</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @empregados.each do |empregado| %>
      <tr>
        <td><%= empregado.nome %></td>
        <td><%= link_to 'Show', empregado %></td>
        <td><%= link_to 'Edit', edit_empregado_path(empregado) %></td>
        <td><%= link_to 'Destroy', empregado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Empregado', new_empregado_path %>
